* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #191919;
}

#mp-container {
  margin: 3em;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.grid-item {
  color: #ffffff;
  border: 1px solid black;
  overflow: hidden;
}

.grid-item:hover {
  cursor: pointer;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
}

.grid-item img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  border: 1px solid black;
}

.grid-p-item {
  padding: 1em;
  text-align: center;
  display: block;
}

.channelName {
  color: #909090;
}

.videoTitle {
  height: 3em;
  overflow: hidden;
}

#video-container {
  height: 0;
  width: 0;
}

iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
